.i {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 200px;  
    gap:5px;
}
  
.iIntro {
    font-size: 40px;
    font-weight: 300;
}
  
.iName {
    font-size: 40px;
}
  
.iTitle {
    height: 20px;
    color: #59b256;
}
.iDesc {
    height: 50px;
    font-size: 18px;
  }


.iButton1{
  position: relative;
  font-size: 18px;
  padding: 5px 2px;
  height: 20px;
  text-transform: lower;
  background-color: transparent;
  text-transform: lowercase;
  z-index: 1;
  transition: all 0.25s;
}
.iButton1:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute; 
    left: 0;
    top: 0;
    width: 0px;
    background-color: cadetblue; 
    z-index: -1;
    transition: all 0.25s;
  }
  .iButton1:hover {
    color: #fff;
  }
  .iButton1:hover:before {
    width: 100%;
  }

  .iButton2{
    position: relative;
    font-size: 18px;
    padding: 5px 2px;
    height: 20px;
    text-transform: lowercase;
    background-color: transparent;
    z-index: 1;
    transition: all 0.25s;
  }
  .iButton2:before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute; 
      left: 0;
      top: 0;
      width: 0px;
      background-color: rgb(165, 128, 204); 
      z-index: -1;
      transition: all 0.25s;
    }
    .iButton2:hover {
      color: #fff;
    }
    .iButton2:hover:before {
      width: 100%;
    }

@media screen and (max-width:480px) {
  .i{
    padding: 0px;
    gap:0px;
  }

  .iIntro {
    font-size: 20px;
  }
  .iName{
    font-size: 20px;
  }
  .iDesc{
font-size: 15px;
  }
}
