.p {
    max-width: 400px;
    height: 70vh;
    margin: 20px 10px;
    overflow: hidden;
    background-color: honeydew;
    padding: 10px;
  }
  
  .pDesc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .pImg {
    width: 100%;
    height: 60%;
    object-position: top center;
    transition: all 5s ease-in-out;
  }
  
  .pImg:hover {
    object-position: bottom center;
  }

  .pGithub {
    background-color:#171515;
  }
  .pDemo {
    background-color:#59b256;
  }
  
  @media screen and (max-width: 480px) {
    
  }