.topbar {
    width: 100%;
    height: 30px;
    background-color: #39B5E0;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.itemContainer {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.icon {
    font-size: 18px;
    margin-right: 5px;
}
.itemContainer span {
    font-size: 15px;
    font-weight: 500;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.iButton1{
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    position: relative;
    height: 20px;
    background-color: transparent;
    text-transform: capitalize;
    z-index: 1;
    transition: all 0.25s;
  }
  .iButton1:before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute; 
      left: 0;
      top: 0;
      width: 0px;
      background-color: cadetblue; 
      z-index: -1;
      transition: all 0.25s;
    }
    .iButton1:hover {
      color: #fff;
    }
    .iButton1:hover:before {
      width: 100%;
    }
  

    .iButton2{
        font-size: 18px;
        font-weight: 500;
        margin-left: 20px;
        position: relative;
        height: 20px;
        background-color: transparent;
        text-transform: lowercase;
        z-index: 1;
        transition: all 0.25s;
      }
      .iButton2:before {
          content: "";
          height: 100%;
          width: 100%;
          position: absolute; 
          left: 0;
          top: 0;
          width: 0px;
          background-color: cadetblue; 
          z-index: -1;
          transition: all 0.25s;
        }
        .iButton2:hover {
          color: #fff;
        }
        .iButton2:hover:before {
          width: 100%;
        }

@media screen and (max-width: 480px) {
    .itemContainer {
      display: none;
    }
}